temp

*.pyc
*.pyo
*.sock

.flake8
db.sqlite3

notes.txt

hidden.py

sentivfefe/hidden.py
/sentivfefe/settings_local.py

/api/management/commands/tweets/tweet_settings.py

celerybeat-schedule
/celerybeat-schedule
celerybeat-schedule.db
/celerybeat-schedule.db

frontend/public

requirements_old.txt

*.sock

static
